In [18]:
#Import data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [19]:
#Configuration
sns.set(color_codes=True)

In [20]:
#Get current working directory
cwd = os.getcwd()
dataDir = '/Data'
l_file = '/lebron.csv' #Bron's data file name
m_file = '/jordan.csv' #Mj's data file name
m_Dir = cwd + dataDir + m_file
l_Dir = cwd + dataDir + l_file
#.....
print("Current working Directory:" + cwd)
print("Data Directory:" + dataDir)
print("Bron's data file name:" + l_file)
print("MJ's data file name:" + m_file)
print("Bron's data Directory:" + l_Dir)
print("MJ's data Directory:" + m_Dir)

Current working Directory:/home/ibrahim/Repos/MJ-VS-LBJ
Data Directory:/Data
Bron's data file name:/lebron.csv
MJ's data file name:/jordan.csv
Bron's data Directory:/home/ibrahim/Repos/MJ-VS-LBJ/Data/lebron.csv
MJ's data Directory:/home/ibrahim/Repos/MJ-VS-LBJ/Data/jordan.csv

In [21]:
#Load Datasets
Lebron_df = pd.read_csv(l_Dir)
Jordan_df = pd.read_csv(m_Dir)

In [22]:
Jordan_df.head(3)

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
0,1,1984-10-26,21-252,CHI,WSB,W (+16),40:00,5,16,0.313,...,1,5,6,7,2,4,5,16,12.5,NaN
1,2,1984-10-27,21-253,CHI,MIL,L (-2),34:00,8,13,0.615,...,3,2,5,5,2,1,3,21,19.4,NaN
2,3,1984-10-29,21-255,CHI,MIL,W (+6),34:00,13,24,0.542,...,2,2,4,5,6,2,3,37,32.9,NaN

In [23]:
Lebron_df.head(3)

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
0,1,2003-10-29,18-303,CLE,SAC,L (-14),42:00,12,20,0.600,...,2,4,6,9,4,0,2,25,24.7,-9
1,2,2003-10-30,18-304,CLE,PHO,L (-9),41:00,8,17,0.471,...,2,10,12,8,1,0,7,21,14.7,-3
2,3,2003-11-01,18-306,CLE,POR,L (-19),39:00,3,12,0.250,...,0,4,4,6,2,0,2,8,5.0,-21

In [26]:
print("Dataset size" + str(Lebron_df.shape) )
print("Dataset size" + str(Jordan_df.shape) )
#.....
print("Games contained in the Dataset for Bron: " + str(Lebron_df.shape[0]) )
print("Games contained in the Dataset for Mj: " + str(Jordan_df.shape[0]) )

Dataset size(1132, 26)
Dataset size(1072, 26)
Games contained in the Dataset for Bron: 1132
Games contained in the Dataset for Mj: 1072